.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 35px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.iconImage {
    height: 80px;
    width: 100px;
    position: relative;
    bottom: 25px;
}

.link {
    text-decoration: none;
    font-size: medium;
    margin-left: 30px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.link:hover {
    height: 30px;
    padding: 5px 5px 0px;
    border: 1px solid gray;
    color: black;
    border-radius: 6px;
    font-weight: 600;
}